.DS_Store
*.mp4
Python_Testing/__pycache__
Python_Testing/test.py
UnityVR/.vscode
UnityVR/Library
UnityVR/Logs
UnityVR/Temp
UnityVR/UserSettings
UnityVR/Unity.sln
UnitySerial
*.meta
*.asset
*.blend1
cardboard-xr-plugin-1.16.0.zip
CAD/~$BackofHand.SLDASM
CAD/~$hand.SLDPRT
